body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #376FC1;
    color: white;
    text-align: center;
    padding: 20px 0;
    display:flexbox; 
    align-items: center; 
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
}

.form-group {
    margin-bottom: 20px;
    
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"], /* Adicionado tipo de input password */
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #0073e6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
}

.logo {
    max-width: 100px; 
    height: auto; 
    margin-right: 10px; 
}
.card {
    background-color: #fff; /* Fundo branco */
    border: 2px solid #376FC1; /* Contorno em azul igual ao cabeçalho */
    border-radius: 10px; /* Cantos arredondados */
    margin-bottom: 20px;
    overflow: hidden; /* Para conter elementos filhos que tenham posicionamento absoluto */
}

.card-header {
    background-color: #376FC1; /* Cor de fundo do título */
    padding: 10px;
}

.card-header h3 {
    color: rgb(255, 255, 255); /* Texto branco */
    margin-top: 0; /* Remover margem padrão do título */
    margin-bottom: 0; /* Remover margem padrão do título */
}

.card-content {
    padding: 20px;
}

.card p {
    color: #333; /* Texto preto */
}



